.password_label {
    color: #9a9aaf;
}

.search_box {
    border-radius: 24px;
    background-color: #e2e2ea;
}

.search_box > input {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e2e2ea;
    border-color: #e2e2ea;
}

.search_box > input:hover {
    border-color: #e2e2ea;
}

.title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #262631;
}

.box_content {
    padding: 32px;
    border-radius: 16px;
    gap: 40px;
    background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #f2f3f7, #f2f3f7);
}

.box_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f3f7;
}
.box_item:not(:first-child) {
    padding-top: 20px;
}
.item_name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #2e2e3a;
    margin: 0;
}

.content {
    width: 70%;
}

.header_content {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    gap: 14px;
}

.header_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #2e2e3a;
    margin: 0;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
    margin: 0;
}
