.success-box {
    padding: 30px 20px 0px 20px;
}

.ant-space {
    width: 100%;
    box-sizing: border-box;
}

.success-box .title,
.success-box .description {
    text-align: center;
}

.success-box .title {
    font-size: 24px;
    font-weight: 700;
    color: #262631;
    margin: 0;
}

.success-box .description {
    font-size: 14px;
    color: #7e7e8f;
    margin: 0;
}

.modal .ant-space-item {
    text-align: center;
}
