.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.billing_menu {
    display: flex;
    border: 1px solid #F2F3F7;
    padding: 2px;
    border-radius: 8px;
}

.billing_menu_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
}